<div class="login-container">
    <div class="login-form-container">
        <img src="../../assets/bank-logo.png" height="100px">
        <h1>Sign In</h1>
        <h2>Use your Loot Bank Account</h2>
        <form [formGroup]="login_form" class="login-form" autocomplete="off">
            <mat-form-field appearance="fill">
                <mat-label>Username or Email</mat-label>
                <input matInput formControlName="login_username" placeholder="john7493">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="login_password" placeholder="John">
            </mat-form-field>
            <button mat-raised-button class="acc-create-btn" color="primary">Login</button>
        </form>
        <span><a routerLink="/">Create Account</a></span>
    </div>
</div>