ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    height: 45px;
    text-decoration: none;
}

ul li a span {
    position: relative;
    top: 30%;
    font-size: 25px;
}

li a:hover {
    background-color: #111;
}

ul li:nth-child(2) a:hover {
    background-color: #333;
}

.close-btn {
    font-size: 40px;
    position: relative;
    float: right;
    right: 35px;
    top: 30px;
    cursor: pointer;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.sign-up {
    position: relative;
    top: 15%;
    width: 620px;
    text-align: center;
}

input {
    height: 25px;
}

.acc-create-btn {
    width: 20%;
    margin: 0 auto;
}