<mat-sidenav-container>
    <mat-sidenav position="end" mode="over" [(opened)]="opened">
        <i class="fa fa-times close-btn" (click)="toggle()" aria-hidden="true"></i>
        <div class="sign-up">
            <h1>Create New Account</h1>
            <form [formGroup]="signup_form" class="sign-up-form" autocomplete="off">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="signup_firstname" placeholder="John">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="signup_lastname" placeholder="Doe">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="signup_email" placeholder="johndoe@gmail.com">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Age</mat-label>
                    <input matInput formControlName="signup_age" placeholder="42">
                </mat-form-field>
                <mat-checkbox class="example-margin"><span>I agree with the <a href="/terms">Terms & Conditons</a></span></mat-checkbox>
                <button mat-raised-button class="acc-create-btn" color="primary">Create</button>
            </form>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="home-page">
            <div class="top">
                <ul class="nav-ul">
                    <li><img src="./../../assets/bank-logo.png" height="68px"></li>
                    <li><a href="/"><span>Loot Bank</span></a></li>
                    <li style="float:right"><a href="javascript:void(0)" (click)="toggle()"><span>Sign Up</span></a></li>
                    <li style="float:right"><a href=""><span>Sign in</span></a></li>
                </ul>
            </div>
            <div class="main-content">
                <div class="main-top">
                    <div class="top-left">
                        <h1>Exciting New Offers...</h1>
                        <ul>
                            <li>Cashback on every Wallet Transactions</li>
                            <li>Lowest interest rates on Loans</li>
                            <li>No Transaction Fee on Cross-Bank Transactions</li>
                        </ul>
                        <button mat-raised-button color="primary">Check Out</button>
                    </div>
                    <div class="banner">
                        <img src="../../assets/banner.jpg" height="320px">
                    </div>
                    <div class="top-right">
                        <h1>Check out our new Home Loans at lowest ever interest rate</h1>
                        <button mat-raised-button color="primary">Get a Loan</button>
                    </div>
                </div>
            </div>
            <div class="footer">
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>