/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
html,
body {
    height: 100%;
    font-family: '  Raleway';
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

.mat-drawer-container {
    height: 100%;
}

.mat-drawer-container {
    background-color: #fff;
}

.mat-drawer {
    background-color: #364547;
}

mat-label {
    font-family: 'Josefin Sans';
}